name: Release version

on:
  push:
    branches:
      - master

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Generate
        run: |
          make manifests
          cp config/crd/bases/* charts/kafka-schema-operator/crds/
          make generate

      - name: Lint
        run: make lint

      - name: Test
        run: make test

      - name: Build
        run: make build

      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_branches: "master"
          tag_prefix: v

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: tomekincubly/kafka-schema-operator

      - name: Build and push Docker
        uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: tomekincubly/kafka-schema-operator:${{ steps.tag_version.outputs.new_tag }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Update helm version
        run: |
          sed -i 's/version: .*/version: ${{ steps.tag_version.outputs.new_version }}/g' charts/kafka-schema-operator/Chart.yaml
          sed -i 's/version: .*/version: v${{ steps.tag_version.outputs.new_version }}/g' charts/kafka-schema-operator/values.yaml

      - name: Install Helm
        uses: azure/setup-helm@v3
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Push updated helm version to git repo
        uses: stefanzweifel/git-auto-commit-action@v5

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Package and release Helm Chart
        uses: helm/chart-releaser-action@v1.6.0
        with:
          packages_with_index: true
          pages_branch: "gh-pages"
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"


